destp-study/src/main/resources/META-INF/spring-test.xsd

<?xml version="1.0" encoding="utf-8" ?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.destp.com/schema/study/bean/usr"
        xmlns:tns="http://www.destp.com/schema/study/bean/usr">

    <element name="user">
        <complexType>
            <attribute name="id" type="long" />
            <attribute name="name" type="string"/>
        </complexType>
    </element>
</schema>